NODE_ENV=development
API_PORT=4000
CORS_ORIGIN=http://localhost:3000

MONGO_URI=mongodb://localhost:27017/vedaai
REDIS_URL=redis://localhost:6379

LLM_PROVIDER=openai
LLM_API_KEY=
LLM_BASE_URL=https://api.openai.com/v1
LLM_MODEL=gpt-4o-mini
